.global{
    color: white;
    font-family: "Roboto, Helvetica, sans-serif";
}

.stack{
    width: 200px;
    background-color:#2c1338 ;
    color: white;
}
.vstack{
    margin: 35px;

}
.img{
    height: 40px;
}
.icons{
    width: 35px;
    height: 25px;
    color: white;
}
.Text{
    margin-left: 25px;
    color: gray;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 150px;
    font-weight: 100;
    font-size: small;
    text-align: left;
   
}
.hStack{ 
    margin-top: 20px;
    margin-bottom: 20px;
    width: 120px;
    justify-content: space-between;
    margin: auto;
}
.hStack:hover{
    background-color: #864da0;
    zoom: 103%;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}