.Wrapper{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #564260;
}
.Wrappers{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #564260;
}
.Wrapper>div:nth-of-type(1){
    font-family: 'GT Haptik Medium',sans-serif;
    font-weight: 400;
    font-size: clamp(1.5rem * 0.8, 2vw, 1.5rem);
    line-height: 1.35;
    color: #E57CD8;
    font-size: 45px;
    line-height: 54px;
}
.Wrapper>div:nth-of-type(2){
    font-size: 0.875rem;
    line-height: 1.35;
    font-size: 12px;
    line-height: 18px;
    color: #FFF;
}
.peatures{
    font-size: 0.875rem;
    line-height: 1.35;
   
    color: #FFF;
    list-style: none;
    margin: 0 0 25px 0;
    padding: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.pli{
    color: #FFF;
    display: flex;
    justify-content: left;
   align-items: flex-start;
  gap:12px;
   font-size: 14px;
   font-family: Inter, sans-serif;
   font-weight: 400;
    margin-top: 20px;
    list-style: none;
   

  
}
.plip{
    color: #3373b3;
    display: flex;
    justify-content: left;
   align-items: flex-start;
  gap:12px;
   font-size: 14px;
   font-family: Inter, sans-serif;
   font-weight: 400;
    margin-top: 20px;
    list-style: none;
   

  
}
.Wrappers>div:nth-of-type(1){
    font-family: 'GT Haptik Medium',sans-serif;
    font-weight: 400;
    font-size: clamp(1.5rem * 0.8, 2vw, 1.5rem);
    line-height: 1.35;
    color: #E57CD8;
    font-size: 45px;
    line-height: 54px;
}
.Wrappers>div:nth-of-type(2){
    font-size: 0.875rem;
    line-height: 1.35;
    font-size: 12px;
    line-height: 18px;
    color: #3373b3;
}
#compare{
    padding: 2rem;
    border-radius: 33px;
    background-color:#2c1338;
    color: aliceblue;
    font-weight: bold;
    border:1px solid aliceblue;
}
#compare:hover{
    background-color:aliceblue;
    color: #2c1338;
}
#has{
   position: relative;
   left:-10px;
}
#try{
    font-family: 'GT Haptik Medium',sans-serif;
    font-size: 1rem;
    padding: 14px 35px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 26px;
    border: 0;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 52px;
    -webkit-transition: background-color 150ms linear,color 150ms linear;
    transition: background-color 150ms linear,color 150ms linear;
    background-color: #E57CD8;
    color: #FFF;
}
#phastag{
    position: relative;
    bottom: -210px;
}

.Root{
    
        margin: 30px auto 60px;
        max-width: 1100px;
    
}
*, *::before, *::after {
    box-sizing: border-box;
}
div {
    display: block;
}
.Section{
    padding: 20px;
    border: 1px solid #2C1338;
    border-width: 1px 0 0;
    background-color: none;
}
.SectionHeader{
    color: #FCE5D8;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.SectionTitle{
    font-family: 'GT Haptik Medium',sans-serif;
    font-weight: 400;
    font-size: clamp(1.5rem * 0.8, 2vw, 1.5rem);
    line-height: 1.35;
    display: inline-block;
    width: 100%;
    margin-right: 20px;
    color: #FCE5D8;
}
.IconArrowDown{
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}
.Section:hover{
    padding: 2rem;
    border-style: solid;
    border-color: rgb(44, 19, 56);
    border-image: initial;
    color: rgb(65, 42, 76);
    font-family: "GT Haptik Medium", sans-serif;
    border-width: 1px 0px 0px;
    background-color: rgb(229, 124, 216);
}
.SectionTitle:hover{
   
    font-weight: 400;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    line-height: 1.35;
    display: inline-block;
    width: 100%;
    margin-right: 20px;
    color: rgb(65, 42, 76);
}
#sans{
    display:flex;
    justify-content: space-between;
}
.with{
    font-family: 'GT Haptik Medium',sans-serif;
    font-size: 1rem;
    padding: 14px 35px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 26px;
    border: 0;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 52px;
    -webkit-transition: background-color 150ms linear,color 150ms linear;
    transition: background-color 150ms linear,color 150ms linear;
    background-color: #E57CD8;
    color: #FFF;
}
.ProductType{
    line-height: 1.5;
    font-size: clamp( 1.125rem * 0.9, 1.25vw, 1.125rem );
    color: #564260;
    text-transform: uppercase;
    margin: 20px 0 5px;
    font-weight: 700;
}
.st{
    color: #564260;
    line-height: 1.6;
    width:70%;
    margin-left: 50px;
    font-size: clamp( 1rem * 0.95, 1vw, 1rem );
}
.or{
   
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 8px;
    column-gap: 8px;
    background: #FFF;
    color: #2C1338;
    padding: 10px 12px;
    border: none;
    width:100%;
    border-radius: 200px;
    margin: 8px 8px 8px 30px;
    cursor: pointer;
}
.mob{
  margin-left: 120px;
 
}
.mobp{
    margin-left: 74px;
  }
.mobs{
    margin-left: 40px;
  }
.for{
    line-height: 1.5;
    font-size: clamp( 1.125rem * 0.9, 1.25vw, 1.125rem );
    color: #564260;
    text-transform: uppercase;
    margin: 20px 0 5px;
    font-weight: 700;
    padding: 12px 20px;
    background: #E57CD8;
    color: #FFF;
    border: none;
    
    border-radius: 200px;
    margin: 8px 8px 8px 61px;
    cursor: pointer;

}
.for:hover{
    color: white;
    background-color: #564260;
}
.or:hover{
    color: white;
    background-color: #564260;
}
table, th, td {
    border: 1px solid black;
  }
  td{
    background-color: #fff3ed;
    padding: 10px;
    text-align: left;
    margin-left: 20px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  .td{
    text-align: center;
  }
  .pink{
    text-align: center;
    color: #c305ad;
    font-weight: bold;
    background-color: #fce5d8;
   
  }
  .bich{
    padding: 2rem 1rem;
    text-align: left;
    width:100%;
   border: none;
    color:white;
    background-color: #564260;
    font-size: larger;
  }

  /* ****************************************** */


  .swit{
    font-size: 41px;
    font-family: "GT Haptik Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #fce5d3 ;
    width:60%;
    margin:auto;
    }
    #priya{
        background-color: #2c1338;
        height:auto;
        padding: 2rem;
        width:50%;
        color: #fce5d3 ;
        margin-left: 100px;
        border-radius: 12px;
        position: relative;
       
        bottom:-100px;
    
    }
    .swits{
        font-size: 40px;
        font-family: "GT Haptik Medium", sans-serif;
        font-style: normal;
        font-weight: 500;
        width:60%;
        color: #fce5d3 ;
       text-align: left;
        }
        #all{
            font-size: 15px;
            text-align: left;
            width: 95%;
            font-family: Inter, sans-serif;
            font-weight: 400;
            line-height: 24px;
        }
        .svg{
            font-family: 'GT Haptik Medium',sans-serif;
            font-size: 1rem;
            background: white;
            border: none;
            color: #2C1338;
            width: 286px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
          
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 52px;
            cursor: pointer;
            border-radius: 50px;
        }
        .svgh{
            font-family: 'GT Haptik Medium',sans-serif;
            font-size: 1rem;
            background: white;
            border: none;
            color: #2C1338;
            width: 286px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            height:20%;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 52px;
            cursor: pointer;
            border-radius: 50px;
            appearance: auto;
            writing-mode: horizontal-tb !important;
         
            text-rendering: auto;
          
            letter-spacing: normal;
            word-spacing: normal;
            line-height: normal;
            text-transform: none;
            text-indent: 0px;
            text-shadow: none;
            display: inline-block;
            text-align: center;
            align-items: flex-start;
            cursor: default;
            box-sizing: border-box;
            
            margin: 0em;
            padding: 1px 6px;
            border-width: 2px;
            border-style: outset;
            border-color: buttonborder;
            border-image: initial;
        }
        .sirf{
            font-family: 'GT Haptik Medium',sans-serif;
            font-size: 1rem;
            padding: 14px 35px;
            border-radius: 26px;
            cursor: pointer;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
      
            height: 52px;
           
            background-color: #E57CD8;
            color: #FFF;
            gap: 9px;
           margin: auto;
            background-color: white;
            color: #2C1338;
        }
        .up{
            background: rgba(255, 255, 255, 0.714); 
        }
        #rajawat{
            background:  #fce5d8 ;
            height: auto;
            width:45%;
            text-align: center;
            border-radius: 12px;
            padding: 4rem 2rem 4rem 5rem;
           margin-left: 600px;
        }
        .demo{
            font-family: 'GT Haptik Medium',sans-serif;
            width:43%;
            margin: auto;
            font-size: 1rem;
            padding: 14px 35px;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border-radius: 26px;
            border: 0;
            cursor: pointer;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            height: 52px;
            -webkit-transition: background-color 150ms linear,color 150ms linear;
            transition: background-color 150ms linear,color 150ms linear;
            background-color: #E57CD8;
            color: #FFF;
        }
        .demo:hover{
            background-color: #412A4C;
        }
        .prefer{
            color: #412A4C;
            font-family: 'GT Haptik Medium',sans-serif;
            font-weight: 400;
            line-height: 1.3;
            margin-left: 37px;
            font-size: clamp( 2rem * 0.75, 2.5vw, 2rem * 0.88 );
        }
        .teamss{
            color: #6B5A74;
            line-height: 1.5;
            font-size: clamp( 1.125rem * 0.9, 1.25vw, 1.125rem );
        }
        